__pycache__
.idea
.ipynb_checkpoints

dependencies
cython_modules
output_analysis_tools/collect_images.py
scripts/run.txt
src/cython_modules/__pycache__
src/cython_modules/data_augmentation/__pycache__
src/cython_modules/img_random_sequences/__pycache__
src/stEDRAM.egg-info
src/stEDRAM/training_dataset/binocular_image_data.h5
src/stEDRAM/training_dataset/label_data.txt
src/stEDRAM/training_dataset/labels.txt
src/stEDRAM/training_dataset/labels_counting.txt
src/stEDRAM/training_dataset/sample_disparity_maps.txt
images
iCub_Vergence


token.txt

test/testPredictionOutputs/test_predictions.py
test/debug.log
README.md




