.ipynb_checkpoints
cython_modules
training_data
images
iCub_Vergence
dependencies
stereo_matching
__pycache__
.idea
token.txt
graphic_data.py
img_sampler.py
checkpoints_reader.py
collect_images.py
seq.py
test.py
README.md
#git@github.com:CristianRodrigoGuarachiIbanez/sequential_tEDRA
disparity_map.py
img_sampler.py
graphic_data.py
binocular_images.py
collect_images.py
predict_tf.py
images